<%= form_for(@visit) do |f| %>
  <% if @visit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@visit.errors.count, "error") %> prohibited this visit from being saved:</h2>

      <ul>
      <% @visit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :front_photo %><br />
    <%= f.text_field :front_photo %>
  </div>
  <div class="field">
    <%= f.label :side_photo %><br />
    <%= f.text_field :side_photo %>
  </div>
  <div class="field">
    <%= f.label :back_photo %><br />
    <%= f.text_field :back_photo %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :date_of_visit %><br />
    <%= f.date_select :date_of_visit %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
