<h1>Listing clients</h1>

<table>
  <tr>
    <th>Avatar</th>
    <th>Full name</th>
    <th>Email</th>
    <th>Phone number</th>
    <th>Client description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clients.each do |client| %>
  <tr>
    <td><%= client.avatar %></td>
    <td><%= client.full_name %></td>
    <td><%= client.email %></td>
    <td><%= client.phone_number %></td>
    <td><%= client.client_description %></td>
    <td><%= link_to 'Show', client %></td>
    <td><%= link_to 'Edit', edit_client_path(client) %></td>
    <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Client', new_client_path %>
