<p id="notice"><%= notice %></p>

<p>
  <b>Avatar:</b>
  <%= @client.avatar %>
</p>

<p>
  <b>Username:</b>
  <%= @client.username %>
</p>

<p>
  <b>Full name:</b>
  <%= @client.full_name %>
</p>

<p>
  <b>Email:</b>
  <%= @client.email %>
</p>

<p>
  <b>Phone number:</b>
  <%= @client.phone_number %>
</p>

<p>
  <b>Location:</b>
  <%= @client.location %>
</p>

<p>
  <b>Client description:</b>
  <%= @client.client_description %>
</p>


<%= link_to 'Edit', edit_client_path(@client) %> 

<hr>

<p>Add a new visit</p>
<%= form_for [@client, @visit] do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :front_photo %><br />
    <%= f.text_field :front_photo %>
  </div>

   <div class="field">
    <%= f.label :side_photo %><br />
    <%= f.text_field :side_photo %>
  </div>

  <div class="field">
    <%= f.label :back_photo %><br />
    <%= f.text_field :back_photo %>
  </div>

   <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<p>Visits:</p>
  
<% @visits.each do |v| %>
  <%= v.description %>
<% end %>

<%= link_to 'Back', clients_path %>
